<div class="row row-cols-1 row-cols-md-2 g-4 container">
  <div class="col">
    <div class="card">
      <img src="./assets/Imagenes/ca.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Creador</h5>
        <p class="card-text">Diana América Martínez García DS01SV-20</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/Imagenes/ce.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Creador</h5>
        <p class="card-text">Emi Olvera Fabian DS01SV-20</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/Imagenes/cr.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Creador</h5>
        <p class="card-text">José Raul Gonzalez Vega DS01SV-20</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/Imagenes/cn.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Creador</h5>
        <p class="card-text">Marina Nayvick Martínez Victoriano DS01SV-20</p>
      </div>
    </div>
  </div>
</div>
