<app-barradenavegacion></app-barradenavegacion>
<router-outlet></router-outlet>
<footer>
  <div class="container" style="font-family:Gabriola;">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h6 class="text-muted lead">Contacto:</h6>
        <h6 class="text-muted">
          Correo: estNewstyle@gmail.com <br>
          Teléfonos: 5759930981 – 5567902345<br>
          </h6>
        </div>
        <div class="col-xs-12 col-md-6">
        <div class="pull-right">
          <h6 class="text-muted lead">Nuestras redes sociales</h6>
          <div class="redes-footer">
            <p><i class="bi bi-google"></i> estNewstyle@gmail.com</p>
            <p><i class="bi bi-facebook"></i> New Styles Estetica</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
